[Desktop Entry]
Version=0.1
Name=SmartPlayer
Comment=
Exec=/home/renatonolo/Documentos/SmartPlayer/output/SmartPlayer/linux-x32/SmartPlayer
Icon=/home/renatonolo/Documentos/SmartPlayer/output/SmartPlayer/linux-x32/icon.png
Terminal=false
Type=Application
Categories=Utility;Application;
